<html>
<head>
    <title>Choose Plan | Termify</title>
    <style>
.me-s{
  color:#0948B3;
  font-size: 19px;
  margin: 0 auto;
}
.me-d{
  font-size: 15px!important;
  color: #484848!important;
}
.me-a{
  margin-bottom: 10px;
  display:inline;
}
.contt2{
  background-color:#003895!important;
}
.contt3{
  background-color:#ECF1FF!important;
}
</style>
    <!-- Primary Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Termify">
<link rel="canonical" href="/">
<meta name="description" content="We create customized Privacy Policies and Terms & Conditions in a matter of seconds to keep your business safe from any legal issue.">
<meta name="keywords" content="privacy policy, privacy, tos, terms, terms of use, terms and conditions, terms & conditions, privacy policy generator, generate tos"/>
<meta itemprop="image" content="https://termify.io/assets/img/termify-background.png">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="/">
<meta property="og:title" content="Termify | Customized Privacy Policies and Terms & Conditions in seconds">
<meta property="og:description" content="We create customized Privacy Policies and Terms & Conditions in a matter of seconds to keep your business safe from any legal issue.">
<meta property="og:image" content="https://termify.io/assets/img/termify-background.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="/">
<meta property="twitter:title" content="Termify | Customized Privacy Policies and Terms & Conditions in seconds">
<meta property="twitter:description" content="We create customized Privacy Policies and Terms & Conditions in a matter of seconds to keep your business safe from any legal issue.">
<meta property="twitter:image" content="https://termify.io/assets/img/termify-background.png">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="https://termify.io/assets/imgs/termify-white.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://termify.io/assets/img/favicon2-termify.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://termify.io/assets/img/favicon2-termify.png">
<link rel="manifest" href="https://termify.io/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="https://termify.io/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="https://termify.io/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Prism -->
<link type="text/css" href="https://termify.io/node_modules/prismjs/themes/prism.css" rel="stylesheet">

<!-- Rocket CSS -->
<link type="text/css" href="https://termify.io/css/rocket.css" rel="stylesheet">

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175370398-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175370398-1');
</script>

<!-- WHOSAMUNG -->
<div style="display:none"><img src="https://whos.amung.us/swidget/termifyio.png"></div>

<!-- HELPSCOUT -->
<script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
<script type="text/javascript">window.Beacon('init', 'd86c2310-6880-4f87-91bf-c41b7f380e66')</script>

<!-- BING ADS TRACKING -->
<script>

(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17511115"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");

window.uetq = window.uetq || [];

window.uetq.push('event', '', { 'revenue_value': '27.90', 'currency': 'USD' });

</script>

     <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<style>
body{
  background: #f2f5f9!important;
}
#steps {
  width: 100%;
  background: #fff;
  padding: 30px;
}

.step {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: 4px solid;
  border-color: transparent;
  border-radius: 50%;
  color: #cdd0da;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  margin-bottom:0px!important;
}


.step:nth-child(n+2) {
  margin: 0 0 0 100px;
}

.step:nth-child(n+2):before {
  width: 75px;
  height: 3px;
  position: absolute;
  margin-left: -9px;
  margin-top: -4px;
  background-color: #f3f3f3;
  transform: translate(-95px, 21px);
  content: '';
}

.step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);
  color: #818698;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}

.step.active {
  border-color: #0748b3;
  color: #0748b3;
}

.step.active:before {
  background: #0748b3;
}

.step.active:after {
  color: #0748b3;
}

.step.done {
  background-color: #58bb58;
  border-color: #58bb58;
  color: white;
}

.step.done:before {
  background-color: #58bb58;
}
@media (max-width:767px) {
  .onboard-form{
    width:100%!important;
  }
}
@media (max-width:767px) {
  .btnremove{
    margin-top: 0px!important;
    margin-bottom: 20px!important;
  }
  .step:nth-child(n+2) {
    margin: 0 0 0 10px!important;
  }
  .step:nth-child(n+2):before{
    display: none!important;
  }
  .main-cta{
    padding-top:0px!important;
  }
  div.onboard-lander div.main-cta div.title{
    padding-top:0px!important;
  }
  .step:after{
    display:none;
  }
  .titleencel{
    display: initial!important;
  }
  .lacruz{
    top:30px!important;
  }
}
[class^="icon-"], [class*=" icon-"]{
  line-height: unset!important;
}
@media (min-width: 992px){
.imgdesktoppayment{
  display: initial!important;
}
.imgmobilepayment{
  display: none!important;
}
}
.display-2 {
    font-size: 35px!important;
}
</style>
</head>
<body>
<div id="blabla">
<div v-if="mostrarhtml">
<a :href="'/dashboard/'+policies"><img src="https://termify.io/assets/imgs/termify-gray-letra.png" class="lacruz imgdesktoppayment" style="width: 170px;position: absolute;left: 30px;top: 30px;display:none;"></img></a>
<a :href="'/dashboard/'+policies"><img src="https://termify.io/assets/imgs/termify-gray.png" class="lacruz imgmobilepayment" style="width: 40px;position: absolute;left: 30px;top: 30px;"></img></a>
<div id="steps" style="text-align: center;">
  <div data-desc="Generate Privacy Policy" class="done step"><i class="icon-ok"></i></div>
  <div data-desc="Choose Plan" class="active step"><i class="icon-ok"></i></div>
  <div data-desc="Payment details" class="deactivated step" style="background:#f3f3f3;"><i class="icon-ok"></i></div>
  <div data-desc="Download Privacy Policy" class="deactivated step" style="background:#f3f3f3;"><i class="icon-ok"></i></div>
</div>
<a :href="'/dashboard/'+policies" style="color: #a9a9a9;"><i class="icon-remove lacruz" style="font-size: 30px;position: absolute;right: 30px;top: 40px;"></i></a>
<br><br>
<div>
   <h1 style="text-align:center;">Choose Plan</h1><br>
     <div class="container">
                 <div class="row">
                     <div class="col-12 col-md-6 col-lg-3 mb-4 col-lg-4 mb-lg-0" style="margin: 0 auto;">
                         <!-- Card -->
                         <a class="card text-center shadow-soft border-light animate-up-3" style="text-align:left!important;cursor:initial!important;">
                                 <div class="card-header border-light py-5 px-4">
                                   <!-- price -->
                                   <div class="d-flex mb-3">
                                         <span class="h5 mb-0">$</span>
                                         <span class="price display-2 mb-0" style="color: #3e4654!important;">2.95</span>
                                         <span class="h6 font-weight-normal align-self-end" style="margin-left: 10px;color: #4a5173;">/Unlimited Downloads</span>
                                     </div>
                                   <p class="font-weight-normal mb-0" style="color: #4a5173;">7-day trial subscription</p>
                               </div>
                               <div class="card-body pt-5">
                                   <ul class="list-group simple-list">
                                     <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Unlimited Downloads & Changes</li>
                                     <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>TOS included</li>
                                     <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>DOCX, TXT, PDF, HTML files</li>
                                     <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Hosted Privacy Policy & TOS</li>
                                     <li class="list-group-item font-weight-normal" style="margin-bottom: 22px;"><span class="icon-green" style="display: inline-block;"><i class="fas fa-check"></i></span><p style="display: inline-block;position: absolute;">After 7 days, auto-renews to $24.95 billed every 4 weeks</p></li>
                                     <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Cancel any time</li>
                                     <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>7-day money back guarantee</li>
                                   </ul>
                               </div>
                             <div class="card-footer px-4 pb-4">
                                     <!-- Button -->
                                     <button v-if="loading !== 'sub'" @click="chosen('sub')" type="submit" name="plan" class="btn btn-block btn-outline-green animate-up-2">
                                         Upgrade & Download <span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                                     </button>
                                     <button v-if="loading === 'sub'" type="submit" name="plan" class="btn btn-block btn-outline-green animate-up-2">
                                         <span class="icon icon-xs ml-3"><i class="fas fa-spinner" style="font-size: 24px;"></i></span>
                                     </button>
                             </div>
                         </a>
                     </div>
                     <div class="col-12 col-md-6 col-lg-3 mb-4 col-lg-4 mb-lg-0" style="margin: 0 auto;">
                         <!-- Card -->
                         <a class="card text-center shadow-soft border-light animate-up-3" style="text-align:left!important;cursor:initial!important;">
                                 <div class="card-header border-light py-5 px-4">
                                   <!-- price -->
                                   <div class="d-flex mb-3">
                                         <span class="h5 mb-0">$</span>
                                         <span class="price display-2 text-primary mb-0" style="color: #3e4654!important;">44.95</span>
                                         <span class="h6 font-weight-normal align-self-end" style="margin-left: 10px;color: #4a5173;">/Unlimited Downloads</span>
                                     </div>
                                   <p class="font-weight-normal mb-0" style="color: #4a5173;">6 months</p>
                               </div>
                               <div class="card-body pt-5" style="padding-bottom: 74px;">
                                 <ul class="list-group simple-list">
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Unlimited Downloads & Changes</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>TOS included</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>DOCX, TXT, PDF, HTML files</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Hosted Privacy Policy & TOS</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Non-recurring payment. Pay once</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>7-day money back guarantee</li>
                                 </ul>
                       </div>
                       <div class="card-footer px-4 pb-4">
                               <!-- Button -->
                               <button v-if="loading !== 'half-year'" @click="chosen('half-year')" type="submit" name="plan" class="btn btn-block btn-outline-blue animate-up-2">
                                   Upgrade & Download <span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                               </button>
                               <button v-if="loading === 'half-year'" type="submit" name="plan" class="btn btn-block btn-outline-blue animate-up-2">
                                   <span class="icon icon-xs ml-3"><i class="fas fa-spinner" style="font-size: 24px;"></i></span>
                               </button>
                       </div>
                         </a>
                     </div>
                     <div class="col-12 col-md-6 col-lg-4 mb-4 col-lg-3 mb-lg-0" style="margin: 0 auto;">
                         <!-- Card -->
                         <a class="card text-center shadow-soft border-light animate-up-3" style="text-align:left!important;cursor:initial!important;">
                                 <div class="card-header border-light py-5 px-4">
                                   <!-- price -->
                                   <div class="d-flex mb-3">
                                       <span class="h5 mb-0">$</span>
                                       <span class="price display-2 text-secondary mb-0" style="color: #3e4654!important;">74.95</span>
                                       <span class="h6 font-weight-normal align-self-end" style="margin-left: 10px;color: #4a5173;">/Unlimited Downloads</span>
                                   </div>
                                   <p class="font-weight-normal mb-0" style="color: #4a5173;">12 months</p>
                               </div>
                               <div class="card-body pt-5" style="padding-bottom: 74px;">
                                 <ul class="list-group simple-list">
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Unlimited Downloads & Changes</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>TOS included</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>DOCX, TXT, PDF, HTML files</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Hosted Privacy Policy & TOS</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>Non-recurring payment. Pay once</li>
                                   <li class="list-group-item font-weight-normal"><span class="icon-green"><i class="fas fa-check"></i></span>7-day money back guarantee</li>
                                 </ul>
                       </div>
                       <div class="card-footer px-4 pb-4">
                               <!-- Button -->
                               <button v-if="loading !== 'year'" @click="chosen('year')" type="submit" name="plan" class="btn btn-block btn-outline-blue animate-up-2">
                                   Upgrade & Download <span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                               </button>
                               <button v-if="loading === 'year'" type="submit" name="plan" class="btn btn-block btn-outline-blue animate-up-2">
                                   <span class="icon icon-xs ml-3"><i class="fas fa-spinner" style="font-size: 24px;"></i></span>
                               </button>
                       </div>
                         </a>
                     </div>
                 </div>

<br><br>
                 <section>
                         <div class="container">
                             <div class="row justify-content-center mb-4 mb-lg-3">
                                 <div class="col-12 col-lg-8 text-center">
                                     <h1 class="display-3 mb-4">Frequently asked questions</h1>
                                 </div>
                             </div>
                             <div class="row justify-content-center">
                                 <div class="col-12 col-lg-8">
                                   <!--Accordion-->
                                   <div class="accordion">
                                       <div class="card card-sm card-body border border-light rounded mb-3">
                                           <div data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                                               <span class="h6 mb-0">Can I change my plan?</span>
                                               <span class="icon"><i class="fas fa-angle-down"></i></span>
                                           </div>
                                           <div class="collapse" id="panel-1">
                                               <div class="pt-3">
                                                   <p class="mb-0">
                                                       Yes, you can upgrade, downgrade or cancel your plan at any time. Do it yourself in your account or contact us, we are here to help.
                                                   </p>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="card card-sm card-body border border-light rounded mb-3">
                                           <div data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                                               <span class="h6 mb-0">Do I get full access with the trial?</span>
                                               <span class="icon"><i class="fas fa-angle-down"></i></span>
                                           </div>
                                           <div class="collapse" id="panel-2">
                                               <div class="pt-3">
                                                   <p class="mb-0">
                                                     Yes, the trial has all the premium features, with unlimited usage. 100% Full Access.</p>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="card card-sm card-body border border-light rounded mb-3">
                                           <div data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                                               <span class="h6 mb-0">What about money back?</span>
                                               <span class="icon"><i class="fas fa-angle-down"></i></span>
                                           </div>
                                           <div class="collapse" id="panel-3">
                                               <div class="pt-3">
                                                   <p class="mb-0">
                                                       Try Termify.io risk-free for 7 days. If you are not satisfied, you can cancel your service within 7-days of activation for a full refund.</p>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <!--End of Accordion-->
                                </div>
                             </div>
                         </div>
                     </section>


             </div>
</div>

<div class="upgrade__footer">
  <a class="upgrade__footer-link" href="/contact">Contact us</a>
  <a class="upgrade__footer-link" href="/about">About</a>
  <a class="upgrade__footer-link" href="/tos">Terms of service</a>
  <a class="upgrade__footer-link" href="/disclaimer">Disclaimer</a>
  <a class="upgrade__footer-link" href="/privacy">Privacy</a>
</div>
</div>
</div>
<style>
.upgrade__footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.upgrade__footer-link {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: top;
    color: #98a1b3;
    -webkit-transition: color .2s;
    transition: color .2s;
}
</style>

<script>
var frank = new Vue({
  el:'#blabla',
  data:{
    mostrarhtml: false,
    loading: '',
    policies: ''
  },
  methods: {
           chosen(plan) {
            this.loading = plan;
            axios.post('/chosen-plan.php', {
              elplan: plan
              })
              .then(function (response) {
                if(response.data == 'sub'){
                  window.location.href = "https://termify.io/payment/sub/1634849168";
                }
                else if(response.data == 'half-year'){
                  window.location.href = "https://termify.io/payment/half-year/1634849168";
                }
                else{
                  window.location.href = "https://termify.io/payment/year/1634849168";
                }
              console.log(response.data);
              })
              .catch(function (error) {
                console.log(error);
              });
          }
        },
        mounted(){
          if(localStorage.getItem("document") == 'Privacy Policy'){
            this.policies = '';
          }
          else if(localStorage.getItem("document") == 'Terms & Conditions'){
            this.policies = 'terms';
          }
          else if(localStorage.getItem("document") == 'Disclaimer'){
            this.policies = 'disclaimers';
          }
          else if(localStorage.getItem("document") == 'Cookie Policy'){
            this.policies = 'cookie-policies';
          }
          else if(localStorage.getItem("document") == 'EULA'){
            this.policies = 'eula';
          }
          else if(localStorage.getItem("document") == 'Return & Refund'){
            this.policies = 'return-and-refund';
          }
          axios.post('/dashboard/check-paid.php', {
            timestamp: 1634849168            })
            .then(function (response) {
              if(response.data == 'si pago'){
                window.location.href = "https://termify.io/dashboard/"+frank.policies;
              }
              else{
                frank.mostrarhtml = true;
              }
            console.log(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
        }
});
</script>


    <!-- Core -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="../node_modules/headroom.js/dist/headroom.min.js"></script> -->

<!-- Vendor JS -->
<script src="../node_modules/countup.js/dist/countUp.min.js"></script>
<script src="../node_modules/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../node_modules/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../node_modules/prismjs/prism.js"></script>

<!-- Rocket JS -->
<script src="../assets/js/rocket.js"></script>

</body>
</html>
